/**
 * Custom global styles & resets here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

*, *::before, *::after
  box-sizing border-box

body
  overflow-x hidden
  margin 0
  default-font-family()
  background-color $lightBeige

  @media (min-width $MQxl)
    background-position center center
    background-size 1200px
    background-image linear-gradient( 90deg, $darkBeige, $darkBeige 1px, $lightBeige 1px, $lightBeige 401px, $darkBeige 401px, $darkBeige 402px, $lightBeige 402px, $lightBeige 803px, $darkBeige 803px, $darkBeige 804px, $lightBeige 804px)

h1, h2, h3, h4
  font-size inherit
  margin-bottom inherit
  margin-top inherit
  font-weight inherit

address
  font-style normal

a
  text-decoration none
  color inherit

button
  border none
  margin 0
  padding 0
  width auto
  overflow visible
  background transparent
  color inherit
  font inherit
  line-height normal
  -webkit-font-smoothing inherit
  -moz-osx-font-smoothing inherit
  -webkit-appearance none

  &:hover, &:active
    outline none

ul
  list-style none 
  margin 0
  padding 0

  li
    padding 0

img
  max-width 100% 

.sr-only
  position absolute
  width 1px
  height 1px
  padding 0
  margin -1px
  overflow hidden
  clip rect(0,0,0,0)
  white-space nowrap
  border 0

.container
  @media (min-width $MQxl)
    max-width $MQxl
    margin 0 auto

.c-scrollbar
  z-index 1000

.input
  default-font-family()
  background none
  outline none
  box-shadow none
  border none
  border-bottom 1px solid black
  text-transform uppercase
  padding 10px 0
  font-size 15px
  line-height 17px
  font-weight 500
  border-radius none

  &:active, &:focus
    &::placeholder
      opacity 0.6
      transition opacity .2s ease-in-out

  &::placeholder
    transition opacity .2s ease-in-out
    color $black

  &--full
    width 100%

  &--submit
    cursor pointer

  @media (min-width $MQlg)
    padding 3px 0

.loader,
.loader::after
  border-radius 50%
  width 20px
  height 20px

.loader
  text-indent -9999em
  border-top 2px solid rgba(0, 0, 0, 0.2)
  border-right 2px solid rgba(0, 0, 0, 0.2)
  border-bottom 2px solid rgba(0, 0, 0, 0.2)
  border-left 2px solid $black
  transform translateZ(0)
  animation loading 1.1s infinite linear

@keyframes loading 
  0%
    transform rotate(0deg)
  100% 
    transform rotate(360deg)

@keyframes slide-up
  0% 
    opacity: 0;
    transform: translateY(100%);
  100% 
    opacity: 1;
    transform: translateY(0);
